<h1>Request Inspector</h1>
<h2>/<%= channelname %></h2>

<div class="instructions">
	<p>To view the request to a POST or a GET on this console, direct your request to the following url:</p>
	<code>http://0.0.0.0:8081/<%= channelname %></code>
</div>

<h2>Console:</h2>
<div id="console"></div>


<div id="response">
	<form>
		<button type="button">Save Response</button>
		<h2>Response Text (for both POST and GET):</h2>
		<textarea><%= responsetext %></textarea>
	</form>
</div>

<script>
var channelname = '<%= channelname %>';
socket.send(JSON.stringify({
	cmd : "connect",
	channel : channelname
}));
</script>