<div id="homesearch">
	<h1>Request Inspector</h1>
	<form>
		<h2>Choose Url</h2>
		<div class="label"> (example: "tester123" will be http://robrighter.no.de/tester123)</div>
		<input type="text" id="channelselector" />
		<button type="submit">Start Console</button>
	</form>
	<div class="break"></div>
</div>